<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858269317046-b960q08b6mp4v4nn6lspt72hi49bdklb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858269317046-b960q08b6mp4v4nn6lspt72hi49bdklb</string>
	<key>API_KEY</key>
	<string>AIzaSyDBHoriB0dEdKb8dBWcMVPNTa6SINmcPCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>858269317046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>std.GoStop</string>
	<key>PROJECT_ID</key>
	<string>gostopcalculator</string>
	<key>STORAGE_BUCKET</key>
	<string>gostopcalculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858269317046:ios:caaf4619f1844d4841b317</string>
</dict>
</plist>